@font-face {
    font-family: moonhouse;
    src: url("../resources/fonts/moonhouse.ttf");
}

body{
	background-image: url("../resources/images/b.jpg");
}

.centered {
  position: fixed;
  top: 50%;
  left: 40%;

}

.Text{
	background-color: #;
	position: fixed;
	top: 30%;
	left: 20%;
}

.commentField{
	padding-top: 20px;
	width: 500px;
}

.name{
	text-align: left;
	font-size: 24px;
	font-weight: bold;
}

.options{
	text-align: justify;
}

.comments{
	text-align: justify;
	padding: 0;
	margin: 0;
}